.counter__container {
  &.dark-theme {
    background-color: $background-color-dark;
    color: $gray-100;
  }

  &.light-theme {
    background-color: $background-color-light;
    color: $dark-color;
    .card-actions {
      border-right: 2px solid $purple-color;
    }
  }
  &--card {
    padding: 5% 15%;
    display: flex;

    .card-counter {
      text-align: center;
      font-size: 8rem;
      font-weight: 600;
      background-color: $purple-color;
      color: $gray-100;
      width: 40%;
    }
    .card-actions {
      width: 60%;
      border-right: 2px solid aliceblue;

      &-title {
        margin: 15px;
      }

      &-buttons {
        display: flex;
        justify-content: space-around;

        .btn-add {
          background-color: #5499c7;

          &:hover {
            background-color: #2980b9;
          }
        }

        .btn-minus {
          background-color: #ec7063;
          &:hover {
            background-color: #e74c3c;
          }
        }
      }
    }
  }
}
