.form-name__container {
  border-left: 2px solid darkturquoise;
  height: 30vh;
  margin: 16px auto 0;
  width: 70%;
}
.form-name__container h2 {
  color: aliceblue;
}
.form-name__container form {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}
.form-name__container button {
  font-size: 1.2rem;
  margin: 1% 0;
  width: 100%;
}
.form-name__container button:hover {
  color: aliceblue;
  background-color: darkcyan;
}

.form-control {
  height: 40px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control label {
  font-weight: 100;
  font-size: 1.2rem;
  color: cadetblue;
  margin-right: 16px;
}
.form-control input {
  height: 35px;
  width: 70%;
  background: none;
  border: 0;
  border-bottom: 1px solid black;
}
.form-control input:hover {
  border-bottom: 1px solid aliceblue;
}
