.form-name__container {
  margin: 16px auto 0;
  width: 70%;
  &.dark-theme {
    background-color: $background-color-dark;
    color: $gray-100;
  }

  &.light-theme {
    background-color: $background-color-light;
    color: $dark-color;
  }

  > form {
    display: flex;
    flex-direction: column;
    border-left: 2px solid $secondary-color;

    .form-control {
      height: 40px;
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      label {
        font-weight: 100;
        font-size: 1.2rem;
        color: cadetblue;
        margin-right: 16px;
      }
      input {
        height: 35px;
        width: 70%;
        background: none;
        border: 0;
        border-bottom: 1px solid black;

        &:hover {
          border-bottom: 1px solid aliceblue;
        }
      }
    }
  }

  button {
    font-size: 1.2rem;
    margin: 1% auto;
    width: 84%;
    background-color: $primary-color;
    color: $gray-100;

    &:hover {
      background-color: $primary-highlight-color;
    }
  }
}
